.form-group {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.form-group input {
    padding: .8rem;
    border-radius: 10px;
    border: 1px solid;
}

.card .title h2 {
    font-weight: 400;
}